<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
    </head >
<body>
    <h3>Important Topics:</h3>
    <ul style="margin-left:-25px;">
%%TOP-TOPIC%%
    </ul>
    <br><hr>
    <h3><a href="tag.html" target="_blank">Important Links</a></h3>
    <ul style="margin-left:-25px;">
    <font size="2"><i>
%%LEFT-LINK%%
    </i></font>
    </ul>   
    <br>
    <hr>
        <font color="#000080" size="1">%%mark_name%%</font><br>
        <font color="#000080" size="1">%%mark_copy%%</font><br>
        <font color="#000080" size="1">%%owner_mail%%</font><br>
</body>
</html>
