<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>%%title%%</title>
    </head>
<body style="word-wrap:break-word">
    <div class="header">
        <h1>%%title%%</h1>
        <div>
            %%mark_list%%
        </div>
        <hr/>
    </div>
    %%content%%    
    <hr>
    <li><font color="#000080" size="2">Update Time: %%time%%</font></li>
    <li><font color="#000080" size="2">Original File: %%src_path%%</font></li>
    <li><font color="#000080" size="2">%%mark_name%% - %%mark_copy%% - %%owner_mail%%</font></li>
    <script language="javascript">
        function toggleView(element1){
            element1 = document.getElementById(element1);             
            if (element1.style.display == 'block' || element1.style.display == '')
            {
                element1.style.display = 'none';
            } else {
                element1.style.display = 'block';	
            }	
        }
    
        function openUniView(element1){
            element1 = document.getElementById(element1);             
            element1.style.display = 'block';
        }
    </script>
</body>
</html>